name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      denops_version:
        description: Denops version
        required: false
        default: "v5.0.0"  # or "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get DENOPS_VERSION
        id: vars
        run: |
          if [[ -z "${{ github.event.inputs.denops_version }}" ]]; then
            echo '::set-output name=DENOPS_VERSION::main'
          else
            echo '::set-output name=DENOPS_VERSION::${{ github.event.inputs.denops_version }}'
          fi
        shell: bash
      - run: make DENOPS_VERSION=${{ steps.vars.outputs.DENOPS_VERSION }} build

      - name: Push to ghcr.io
        env:
          DENOPS_VERSION: ${{ steps.vars.outputs.DENOPS_VERSION }}
        shell: bash
        run: |
          if [[ ${{ env.DENOPS_VERSION }} == "v*" ]]; then
            # Full version string
            make DENOPS_VERSION={{ env.DENOPS_VERSION }} push
            # vX.Y.Z -> vX (major only)
            make DENOPS_VERSION=$(echo $DENOPS_VERSION | sed -r 's/(v[0-9]+)(\.[0-9]+)(\.[0-9]+)/\1/') push
            # vX.Y.Z -> vX.Y (major and minor)
            make DENOPS_VERSION=$(echo $DENOPS_VERSION | sed -r 's/(v[0-9]+)(\.[0-9]+)(\.[0-9]+)/\1\2/') push
          fi
          make DENOPS_VERSION=latest push


      - run: make DENOPS_VERSION=${{ steps.vars.outputs.DENOPS_VERSION }} push
